@{
    ViewData["Title"] = "Thanh toán thành công";
}

<h1>Thanh toán thành công!</h1>
<p>Cảm ơn bạn đã đặt hàng.</p>
<a asp-controller="Food" asp-action="Index" class="btn btn-primary">Quay về thực đơn</a>
